Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "0...30"
  status:
    project:
      # These flags should match with those in the Github Action ci.yml
      front-end-integration-tests:
        flags:
          - integrationtests
      front-end-e2e-tests:
        flags:
          - e2etests
      backend:
        flags:
          - unittests

flags:
  # Filter the folders to be measured by that flag
  front-end-integration-tests:
    paths:
      - ui/cypress/integration/integration
    carryforward: true
  front-end-e2e-tests:
    paths:
      - ui/cypress/integration/e2e
    carryforward: true
  backend:
    paths:
      - cmd
      - handlers
      - helpers
      - internal
      - mesheryctl
      - meshes
      - models
      - router
    carryforward: true

revert unwanted changes
  ui/components/UserPreferences.js
Due: none

fix linting err
  models/preference.go
Due: backend

meshkit upgrade
  go.mod
  go.sum
Due: none

fix node vulns
  ui/package-lock.json
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/03-12-2022-04-08-03_29477dce.md
Due: none

Address review comments
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
Due: none

Fix failing integration test
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

fix
  Dockerfile
  go.mod
Due: none

Add name field for pattern request
  go.mod
  handlers/meshery_pattern_handler.go
  models/pattern/core/pattern.go
Due: backend

[Docs] Test status of adapter
  docs/_compatibility/meshery-traefik-mesh/03-12-2022-19-05-03_54ff16f2.md
Due: none

pattern update and delete handler call fix
  ui/components/MesheryPatterns.js
Due: none

proper names of services
  models/pattern/core/pattern.go
Due: backend

[Docs] Test status of adapter
  docs/_compatibility/meshery-osm/03-14-2022-04-29-03_2e299d8c.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-kuma/03-14-2022-04-34-03_84d5f49a.md
Due: none

Revert "[UI] Replicate Imports for Filters and Applications similar to Patterns"
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
  ui/cypress/integration/integration/configuration_filters_spec.js
  ui/pages/configuration/filters.js
Due: front-end-integration-tests

Original Changes
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
  ui/cypress/integration/integration/configuration_filters_spec.js
  ui/pages/configuration/filters.js
Due: front-end-integration-tests

Fix e2e failure
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
Due: front-end-e2e-tests

added optional chaining
  ui/components/Header.js
Due: none

[Docs] Error Code Reference: Meshery Adapter for Istio updated
  docs/_data/errorref/istio_errors_export.json
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/03-14-2022-17-05-03_00609d25.md
Due: none

minor change
  models/pattern/core/pattern.go
Due: backend

add more settings to remote provider
  ui/components/RemoteUserPref.js
  ui/components/UserPreferences.js
  ui/pages/user/preferences.js
Due: none

Update swagger.yaml
  helpers/swagger.yaml
Due: backend

fix typo in the payload json
  ui/components/UserPreferences.js
Due: none

Remove UUIDs from being service name of designs and add depends-on
  go.mod
  models/pattern/core/pattern.go
Due: backend

[mesheryctl] watch flag for mesh remove
  mesheryctl/internal/cli/root/mesh/error.go
  mesheryctl/internal/cli/root/mesh/remove.go
Due: backend

Add Mario to CI maintainers list
  MAINTAINERS.md
Due: none

Update CONTRIBUTING.md w/signoff
  docs/pages/project/contributing/contributing.md
Due: none

Move to Ruby 2.7.5
  .github/workflows/build-and-preview-site.yml
Due: none

Add data-cy to import-button
  ui/components/UploadImport.js
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests, front-end-e2e-tests

docs-update for maintainer
  MAINTAINERS.md
Due: none

Switched to simple args checking. Signed-off-by: Sekiranda Hamza sekirandahamza@gmail.com
  mesheryctl/internal/cli/root/system/channel.go
Due: backend

add os and arch for fsevents
  ui/package-lock.json
Due: none

[Docs] Updated swagger docs for REST API
  docs/_data/swagger.yml
  helpers/swagger.yaml
Due: backend

Update build-and-release.yml
  .github/workflows/build-and-release.yml
Due: none

setup-gov3.0.0
  .github/workflows/ci.yml
Due: none

setup-gov3.0.0
  .github/workflows/error-codes-updater.yaml
Due: none
