Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

move flex to parent elem
  ui/components/Navigator.js
Due: none

Generate components per context
  go.mod
  go.sum
  handlers/error.go
  handlers/k8sconfig_handler.go
  models/pattern/core/register.go
Due: backend

minor change
  handlers/k8sconfig_handler.go
Due: backend

Signed-off-by: cpepper96 <cpepper96@gmail.com> Made suggested changes.
  mesheryctl/internal/cli/root/perf/apply.go
  mesheryctl/internal/cli/root/perf/profile.go
  mesheryctl/internal/cli/root/perf/result.go
  mesheryctl/pkg/utils/auth.go
  mesheryctl/pkg/utils/error.go
Due: backend

lint err
  handlers/k8sconfig_handler.go
Due: backend

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/03-01-2022-02-06-03_7bedaba5.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/03-01-2022-02-07-03_7bedaba5.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-linkerd/03-01-2022-02-17-03_.md
Due: none

change errors
  handlers/error.go
  handlers/k8sconfig_handler.go
Due: backend

[Docs] Test status of adapter
  docs/_compatibility/meshery-traefik-mesh/03-01-2022-10-44-03_478bc342.md
Due: none

Apply suggestions from code review
  handlers/k8sconfig_handler.go
Due: backend

bugfix - bad reference
  ui/pages/_app.js
Due: none

expected test files being updated
  mesheryctl/internal/cli/root/perf/profile_test.go
  mesheryctl/internal/cli/root/perf/result_test.go
  mesheryctl/internal/cli/root/perf/testdata/apply/1002.golden
  mesheryctl/internal/cli/root/perf/testdata/profile/1009.golden
  mesheryctl/internal/cli/root/perf/testdata/profile/1011.golden
  mesheryctl/internal/cli/root/perf/testdata/result/1009.golden
  mesheryctl/internal/cli/root/perf/testdata/result/1011.golden
Due: backend

Update handlers/error.go
  handlers/error.go
Due: backend

Revert "Bump k8s.io/apiextensions-apiserver from 0.22.4 to 0.23.4"
  go.mod
  go.sum
Due: none

revert styles
  ui/components/Header.js
Due: none

Update dependabot.yml
  .github/dependabot.yml
Due: none

[Error Codes]: Update Meshery server and mehseryctl error codes and reference
  docs/_data/errorref/mesheryctl_errors_export.json
  mesheryctl/helpers/component_info.json
  mesheryctl/pkg/utils/error.go
Due: backend

[Error Codes]: Update Meshery server and mehseryctl error codes and reference
  docs/_data/errorref/meshery-server_errors_export.json
Due: none

Added meshery-perf subchart in install/kubernetes/helm/meshery
  install/kubernetes/helm/meshery/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/.helmignore
  install/kubernetes/helm/meshery/charts/meshery-perf/Chart.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/NOTES.txt
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/_helpers.tpl
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/deployment.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/ingress.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/service.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/templates/tests/test-connection.yaml
  install/kubernetes/helm/meshery/charts/meshery-perf/values.yaml
  install/kubernetes/helm/meshery/values.yaml
Due: none

Added meshery-perf subchart in install/kubernetes/helm/meshery-operator
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/.helmignore
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/Chart.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/templates/NOTES.txt
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/templates/_helpers.tpl
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/templates/deployment.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/templates/ingress.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/templates/service.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/templates/serviceaccount.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/templates/tests/test-connection.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/values.yaml
Due: none

Added meshery-perf subchart in install/kubernetes/helm/meshery-operator parent chart
  install/kubernetes/helm/meshery-operator/Chart.yaml
  install/kubernetes/helm/meshery-operator/values.yaml
Due: none

adding a log and changing to meshkit endpoint
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/internal/cli/root/system/error.go
Due: backend

add filters to compatibility page Signed-off-by: Shubham Upreti <shubham.upreti@gmail.com>
  docs/pages/project/compatibility_matrix/compatibility.md
Due: none

Added http port value and templated in values.yml of meshery-perf
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/templates/deployment.yaml
  install/kubernetes/helm/meshery-operator/charts/meshery-perf/values.yaml
Due: none

Add general cypress tests for lifecycle
  ui/components/Navigator.js
  ui/cypress/integration/e2e/lifecyclecheck_spec.js
Due: front-end-e2e-tests

[Docs] Release Notes for Meshery
  docs/_releases/v0.6.0-rc-5b.md
Due: none

dry-run before starting meshery
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/stop.go
  mesheryctl/pkg/utils/platform.go
Due: backend

[Docs] Test status of adapter
  docs/_compatibility/meshery-nginx-sm/03-05-2022-08-46-03_55377906.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-nginx-sm/03-05-2022-08-47-03_aa5b23dd.md
Due: none

failed integration test
  mesheryctl/internal/cli/root/system/system_test.go
Due: backend

[Docs] Error Code Reference: Meshery Adapter for Traefik-mesh updated
  docs/_data/errorref/traefik-mesh_errors_export.json
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-traefik-mesh/03-06-2022-08-50-03_a553a92a.md
Due: none

Set appropriate metadata.name for namespace
  models/pattern/patterns/k8s/k8s.go
Due: backend

get latest wasm filters from latest release
  Dockerfile
Due: none

handle panic when preference load test is not provided
  handlers/user_handler.go
Due: backend

Transition of role for utkarsh-pro
  MAINTAINERS.md
Due: none

skip validation for nil load test preference
  handlers/user_handler.go
Due: backend

Added port 10013 to docs to reserve the port
  docs/pages/concepts/architecture/architecture.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-kuma/03-07-2022-16-09-03_c96c9181.md
Due: none

Path conditions:
  front-end-integration-tests: any of: ui/cypress/integration/integration
  front-end-e2e-tests: any of: ui/cypress/integration/e2e
  backend: any of: cmd, handlers, helpers, internal, mesheryctl, meshes, models, router
