Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "0...30"
  status:
    project:
      # These flags should match with those in the Github Action ci.yml
      front-end-integration-tests:
        flags:
          - integrationtests
      front-end-e2e-tests:
        flags:
          - e2etests
      backend:
        flags:
          - unittests

flags:
  # Filter the folders to be measured by that flag
  front-end-integration-tests:
    paths:
      - ui/cypress/integration/integration
    carryforward: true
  front-end-e2e-tests:
    paths:
      - ui/cypress/integration/e2e
    carryforward: true
  backend:
    paths:
      - cmd
      - handlers
      - helpers
      - internal
      - mesheryctl
      - meshes
      - models
      - router
    carryforward: true

set nvmrc and readme to 14.8.0
  ui/.nvmrc
  ui/README.md
Due: none

import custom cypress file upload command
  ui/cypress/support/commands.js
Due: none

remove unnecessary assertion
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

add cypress filter integration tests & test data
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

yaml files for testing
  ui/cypress/fixtures/configuration/service-mesh-patterns-samples/IstioFilterPattern-commit-b23b219.yaml
  ui/cypress/fixtures/configuration/service-mesh-patterns-samples/bookInfoPattern-commit-5eb2369.yaml
  ui/cypress/fixtures/configuration/wasm-filters-v0.1.2/wasm-filters-v0.1.2-http-auth-envoy.yaml
Due: none

remove provider none from filter integration test
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

add cypress filter integration tests & test data
  ui/cypress/fixtures/configuration/filter-stubs/initial-filters.json
  ui/cypress/fixtures/configuration/filter-stubs/post-upload-filters.json
  ui/cypress/fixtures/configuration/wasm-filters-v0.1.2/http-auth-envoy.yaml
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

data-cy attributes needed for e2e tests
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Due: none

uncommented test data
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
Due: front-end-e2e-tests

removed select provider none from integration test
  bookInfo.yaml
  meshery.code-workspace
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

e2e test for deploying application/filter/pattern
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
Due: front-end-e2e-tests

updated integration test title
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

updated integration test title
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

remove code-workspace file
  meshery.code-workspace
Due: none

Add cypress configurationActions helper
  ui/cypress/helpers/configurationActions.js
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

Add ci.yaml workflow steps to run istio adapter
  .github/workflows/ci.yml
Due: none

meshery-istio adapter - update stale go version
  .github/workflows/ci.yml
Due: none

removed select provider none from integration test
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

use actionHelper function in deploy conf tests
  bookInfo.yaml
  ui/cypress/actionHelpers/service-mesh-configuration-management.js
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests, front-end-e2e-tests

fix configuration filter integration test
  ui/cypress/actionHelpers/configuration.js
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

updated integration test title
  ui/cypress/integration/integration/configuration_filters_spec.js
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

remove provider non selection from configuration integration tests
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

response body expect emtpy str so results show err returned
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
Due: front-end-e2e-tests

[Docs] Release Notes for Meshery
  docs/_releases/v0.6.0-rc-5a.md
Due: none

Delete v0.6.0.md
  docs/_releases/v0.6.0.md
Due: none

Replaced regex with strings.SplitN check. Signed-off-by: Sekiranda Hamza sekirandahamza@gmail.com
  mesheryctl/internal/cli/root/config/config.go
Due: backend

Fixed linting issue. Signed-off-by: Sekiranda Hamza sekirandahamza@gmail.com
  mesheryctl/internal/cli/root/config/config.go
Due: backend

revert unwanted change
  ui/components/MesheryNotification.js
Due: none

rvert unwanted change
  meshes/meshops_grpc.pb.go
Due: backend
