Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "0...30"
  status:
    project:
      # These flags should match with those in the Github Action ci.yml
      front-end-integration-tests:
        flags:
          - integrationtests
      front-end-e2e-tests:
        flags:
          - e2etests
      backend:
        flags:
          - unittests

flags:
  # Filter the folders to be measured by that flag
  front-end-integration-tests:
    paths:
      - ui/cypress/integration/integration
    carryforward: true
  front-end-e2e-tests:
    paths:
      - ui/cypress/integration/e2e
    carryforward: true
  backend:
    paths:
      - cmd
      - handlers
      - helpers
      - internal
      - mesheryctl
      - meshes
      - models
      - router
    carryforward: true

add meshery docs release for v0.5.40
  docs/_releases/v0.5.40.md
Due: none

redo changes
  ui/components/DashboardComponent.js
  ui/components/MesherySettings.js
  ui/cypress/integration/e2e/settings_spec.js
Due: front-end-e2e-tests

Updated the ci workflow for swagger docs
  .github/workflows/swagger.yml
Due: none

enhanced error
  mesheryctl/internal/cli/root/filter/list.go
Due: backend

update response filename
  mesheryctl/internal/cli/root/app/fixtures/onboard.applicationSave.response.golden
  mesheryctl/internal/cli/root/app/offboard_test.go
  mesheryctl/internal/cli/root/app/onboard_test.go
  mesheryctl/internal/cli/root/app/testdata/offboard.output.golden
Due: backend

fix some bugs in mesh sub commands
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/validate.go
Due: backend

lint
  mesheryctl/internal/cli/root/mesh/deploy.go
  mesheryctl/internal/cli/root/mesh/validate.go
Due: backend

refactored FetchManifests func
  mesheryctl/internal/cli/root/system/reset.go
  mesheryctl/internal/cli/root/system/start.go
  mesheryctl/internal/cli/root/system/update.go
  mesheryctl/pkg/utils/platform.go
Due: backend

Changed Appbar and title
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
Due: none

reworking applications endpoint
  handlers/meshery_application_handler.go
  mesheryctl/internal/cli/root/app/list.go
  mesheryctl/internal/cli/root/app/offboard.go
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/app/view.go
  router/server.go
  ui/components/MesheryApplications.js
Due: backend

Added Hyperlink to Release Notes Based on Channel and Version
  ui/components/DashboardComponent.js
Due: none

add dataplane to controlplanemembers
  internal/graphql/generated/generated.go
  internal/graphql/model/control_plane_helper.go
  internal/graphql/model/models_gen.go
  internal/graphql/schema/schema.graphql
  ui/components/DashboardComponent.js
  ui/components/graphql/queries/ControlPlanesQuery.js
  ui/components/graphql/queries/__generated__/ControlPlanesQuery.graphql.js
  ui/components/graphql/subscriptions/ControlPlaneSubscription.js
  ui/components/graphql/subscriptions/__generated__/ControlPlaneSubscription.graphql.js
Due: backend

Migrated class extends to functional component
  ui/components/MesheryEventViewer.js
Due: none

Refactored and hardcoded
  ui/components/MesheryNotification.js
Due: none

reworking few urls
  handlers/prometheus_handlers.go
  router/server.go
  ui/components/ConnectionWizard/helpers/metrics.js
  ui/components/MesherySettings.js
  ui/cypress/integration/e2e/settings_spec.js
Due: front-end-e2e-tests, backend

changing ux in filter apply
  mesheryctl/internal/cli/root/app/onboard.go
  mesheryctl/internal/cli/root/filter/apply.go
Due: backend

Done
  mesheryctl/internal/cli/root/system/restart_test.go
  mesheryctl/internal/cli/root/system/testdata/restart/TestRestart.yaml
Due: backend

added documentation for the eslint plugin
  docs/pages/project/contributing/contributing-ui.md
Due: none

lint: remove extra newline
  mesheryctl/internal/cli/root/mesh/validate.go
Due: backend

add flattening helper and map traverser
  helpers/helpers.go
Due: backend

add config flattening
  handlers/k8sconfig_handler.go
Due: backend

changed to linting-ui
  docs/pages/project/contributing/contributing-ui.md
Due: none

removed the last point
  docs/pages/project/contributing/contributing-ui.md
Due: none

remove debug logs and use meshkit errors
  handlers/k8sconfig_handler.go
Due: backend

add minikube mount
  docker-compose.yaml
Due: none

added test for view and list
  mesheryctl/internal/cli/root/filter/fixtures/list.filter.api.response.golden
  mesheryctl/internal/cli/root/filter/fixtures/token.golden
  mesheryctl/internal/cli/root/filter/fixtures/view.filter.api.response.golden
  mesheryctl/internal/cli/root/filter/list_test.go
  mesheryctl/internal/cli/root/filter/testdata/list.filter.output.golden
  mesheryctl/internal/cli/root/filter/testdata/view.filter.output.golden
  mesheryctl/internal/cli/root/filter/view_test.go
Due: backend

improve map explorer
  helpers/helpers.go
Due: backend

Update SMI conformance functionality doc
  docs/pages/functionality/service-mesh-interface.md
Due: none

fix ui
  ui/components/DashboardComponent.js
Due: none

pattern: Add patterns as accordion to populate all the configuration with Rjsf
  ui/components/MesheryPatterns.js
Due: none

update offboard response
  mesheryctl/internal/cli/root/app/fixtures/offboard.response.golden
  mesheryctl/internal/cli/root/app/testdata/offboard.output.golden
Due: backend

finalize dataplane, fix ui
  internal/graphql/generated/generated.go
  internal/graphql/model/control_plane_helper.go
  internal/graphql/model/models_gen.go
  internal/graphql/schema/schema.graphql
  ui/components/DashboardComponent.js
  ui/components/graphql/queries/ControlPlanesQuery.js
  ui/components/graphql/queries/__generated__/ControlPlanesQuery.graphql.js
  ui/components/graphql/subscriptions/ControlPlaneSubscription.js
  ui/components/graphql/subscriptions/__generated__/ControlPlaneSubscription.graphql.js
Due: backend

remove comments
  internal/graphql/model/control_plane_helper.go
Due: backend

changes
  mesheryctl/internal/cli/root/system/restart_test.go
  mesheryctl/internal/cli/root/system/system_test.go
  mesheryctl/internal/cli/root/system/testdata/restart/TestRestart.yaml
Due: backend

test
  mesheryctl/internal/cli/root/system/system_test.go
Due: backend

Fix: synchronise form data across tab changes in rjsf
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternService/index.js
Due: none
