Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

[mesheryctl] Check delete bool for displaying fail message
  mesheryctl/internal/cli/root/system/stop.go
Due: backend

introducing --port-forward in system dashboard
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/pkg/utils/portforward.go
Due: backend

[mesheryctl] Minor consistency change
  mesheryctl/pkg/utils/healthcheck.go
Due: backend

color: rgba(255, 255, 255, .75);
  docs/v0.5/assets/css/style.css
  docs/v0.5/concepts/architecture/adapters.html
Due: none

work done
  mesheryctl/internal/cli/root/system/dashboard.go
Due: backend

bug: stop restart on non-confirmation
  mesheryctl/internal/cli/root/system/restart.go
Due: backend

Improve application endpoint
  handlers/meshery_application_handler.go
  models/meshery_application.go
Due: backend

minor changes
  models/meshery_application.go
Due: backend

go lint errors
  mesheryctl/internal/cli/root/system/dashboard.go
  mesheryctl/pkg/utils/portforward.go
Due: backend

more go lint errors
  mesheryctl/internal/cli/root/system/dashboard.go
Due: backend

applications will be k8s manifest for now
  models/meshery_application.go
Due: backend

minor changes
  models/default_local_provider.go
  models/meshery_application.go
Due: backend

install cypress-file-upload
  ui/package-lock.json
  ui/package.json
Due: none

import custom cypress file upload command
  ui/cypress/support/commands.js
Due: none

set nvmrc and readme to 14.8.0
  ui/.nvmrc
  ui/README.md
Due: none

remove provider none from filter integration test
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

add data-cy attribs for filter tests
  ui/components/Filters.js
  ui/components/Header.js
Due: none

add cypress filter integration tests & test data
  ui/cypress/fixtures/configuration/filter-stubs/initial-filters.json
  ui/cypress/fixtures/configuration/filter-stubs/post-upload-filters.json
  ui/cypress/fixtures/configuration/wasm-filters-v0.1.2/http-auth-envoy.yaml
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

add cypress filter integration tests & test data
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

yaml files for testing
  ui/cypress/fixtures/configuration/service-mesh-patterns-samples/IstioFilterPattern-commit-b23b219.yaml
  ui/cypress/fixtures/configuration/service-mesh-patterns-samples/bookInfoPattern-commit-5eb2369.yaml
  ui/cypress/fixtures/configuration/wasm-filters-v0.1.2/wasm-filters-v0.1.2-http-auth-envoy.yaml
Due: none

removed select provider none from integration test
  bookInfo.yaml
  meshery.code-workspace
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

remove unnecessary assertion
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

meshery-istio adapter - update stale go version
  .github/workflows/ci.yml
Due: none

remove code-workspace file
  meshery.code-workspace
Due: none

remove provider non selection from configuration integration tests
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

Add ci.yaml workflow steps to run istio adapter
  .github/workflows/ci.yml
Due: none

updated integration test title
  ui/cypress/integration/integration/configuration_spec.js
Due: front-end-integration-tests

fix configuration filter integration test
  ui/cypress/actionHelpers/configuration.js
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

uncommented test data
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
Due: front-end-e2e-tests

data-cy attributes needed for e2e tests
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Due: none

updated integration test title
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

Add cypress configurationActions helper
  ui/cypress/helpers/configurationActions.js
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

Path conditions:
  front-end-integration-tests: any of: ui/cypress/integration/integration
  front-end-e2e-tests: any of: ui/cypress/integration/e2e
  backend: any of: cmd, handlers, helpers, internal, mesheryctl, meshes, models, router
