Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

add a nil check
  handlers/middlewares.go
Due: backend

Add contextID in /api/system/sync
  handlers/session_sync_handler.go
Due: backend

Add confirmation message
  ui/components/Confirmation.js
  ui/components/Header.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/lib/store.js
  ui/pages/_app.js
Due: none

modify state management in Meshery dashboard for multi-context support
  ui/components/DashboardComponent.js
  ui/lib/store.js
  ui/pages/_app.js
Due: none

Fix manifest URL for argo rollouts[Application]
  models/pattern/patterns/application/argo.go
Due: backend

Update MAINTAINERS.md
  MAINTAINERS.md
Due: none

configure multi-context on dashboard and ping correct cluster
  ui/components/DashboardComponent.js
  ui/utils/multi-ctx.js
Due: none

updates
  docs/_data/toc.yml
  docs/pages/project/contributing/contributing-cypress.md
Due: none

docs - update label commenter to share info on contributing cypress
  .github/label-commenter-config.yml
Due: none

fix typo
  docs/pages/project/contributing/contributing-cypress.md
Due: none

test labeler
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
Due: front-end-e2e-tests

[Docs] Test status of adapter
  docs/_compatibility/meshery-nginx-sm/05-27-2022-00-52-05_16614294.md
Due: none

Add support for hard reset of database.
  cmd/main.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/schema/schema.graphql
  models/default_local_provider.go
  models/remote_provider.go
  models/sql-utils.go
  ui/components/MeshConfigComponent.js
Due: backend

Add review suggestions
  models/sql-utils.go
Due: backend

Add Review Suggestions
  models/sql-utils.go
Due: backend

Fix lint error
  models/sql-utils.go
Due: backend

fix: fix immutable deep merge causing extra clusters and contexts
  ui/lib/store.js
Due: none

Add global store for selected contexts
  ui/components/Header.js
  ui/pages/_app.js
Due: none

minor changes
  handlers/k8sconfig_handler.go
  handlers/middlewares.go
Due: backend

send context with deploy action
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryMeshInterface/index.js
  ui/components/MesheryPatterns.js
  ui/components/MesheryPatterns/MesheryPatterns.js
  ui/pages/_app.js
Due: none

update contexts in UI
  ui/components/ConnectionWizard/Screens/MetricsScreen.js
  ui/components/ConnectionWizard/helpers/metrics.js
  ui/components/MesheryAdapterPlayComponent.js
  ui/components/MesherySettings.js
Due: none

add multi-context support for perf
  ui/components/MesheryPerformance/index.js
  ui/components/MesherySettingsPerformanceComponent.js
  ui/components/UserPreferences.js
  ui/pages/_app.js
  ui/pages/user/preferences.js
Due: none

mionr: typo fix
  ui/components/MesheryAdapterPlayComponent.js
Due: none

graphql changes
  handlers/mesh_ops_handlers.go
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/data-plane.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
Due: backend

changed png with svg
  README.md
  docs/assets/img/readme/cncf-black.svg
  docs/assets/img/readme/cncf-white.svg
Due: none

added multiple k8s version for adapter tests
  .github/workflows/test_adapters.yaml
Due: none

Remove unused Component
  ui/components/Confirmation.js
  ui/components/MesheryAdapterPlayComponent.js
Due: none

Reuse Prompt Component
  ui/components/MesheryAdapterPlayComponent.js
Due: none

Remove log statements
  ui/components/MesheryAdapterPlayComponent.js
Due: none

feat: Replace kubeopenapi-jsonschema based component generation with CUE
  go.mod
  go.sum
  models/pattern/core/register.go
Due: backend

k8s_version workflow input as not required
  .github/workflows/test_adapters.yaml
Due: none

graphql schema changes
  internal/graphql/generated/generated.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
Due: backend

graphql schema changes
  internal/graphql/generated/generated.go
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
Due: backend

graphql schema changes
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/schema.resolvers.go
Due: backend

graphql schema changes
  handlers/session_sync_handler.go
  internal/graphql/generated/generated.go
  internal/graphql/model/control_plane_helper.go
  internal/graphql/model/data_plane_helper.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/addons.go
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/data-plane.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
Due: backend

modified README.md for implementation of light/dark mode logos
  README.md
Due: none

chore: Upgrade meshkit version
  go.mod
  go.sum
Due: none

refactor: Use utility function to configure filters
  models/pattern/core/register.go
Due: backend

[Docs] Test status of adapter
  docs/_compatibility/meshery-kuma/05-30-2022-17-01-05_9f728bd5.md
Due: none

Path conditions:
  front-end-integration-tests: any of: ui/cypress/integration/integration
  front-end-e2e-tests: any of: ui/cypress/integration/e2e
  backend: any of: cmd, handlers, helpers, internal, mesheryctl, meshes, models, router
