Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "0...30"
  status:
    project:
      # These flags should match with those in the Github Action ci.yml
      front-end-integration-tests:
        flags:
          - integrationtests
      front-end-e2e-tests:
        flags:
          - e2etests
      backend:
        flags:
          - unittests

flags:
  # Filter the folders to be measured by that flag
  front-end-integration-tests:
    paths:
      - ui/cypress/integration/integration
    carryforward: true
  front-end-e2e-tests:
    paths:
      - ui/cypress/integration/e2e
    carryforward: true
  backend:
    paths:
      - cmd
      - handlers
      - helpers
      - internal
      - mesheryctl
      - meshes
      - models
      - router
    carryforward: true

minor: fix alignment issues with chevron and dropdowns
  ui/components/Navigator.js
Due: none

add support for placing annotations to custom resource
  models/pattern/resource/selector/selector.go
  models/pattern/stages/provision.go
Due: backend

add advanced config for application
  models/pattern/patterns/application/application.go
  models/pattern/patterns/application/argo.go
  models/pattern/patterns/application/engine.go
  oam/workloads/application.meshery.layer5.io.schema.json
Due: backend

add support k8s native service
  models/pattern/patterns/k8s/service/service.go
  models/pattern/patterns/patterns.go
  oam/workloads/service.k8s.meshery.layer5.io.schema.json
  oam/workloads/service.k8s_definition.json
Due: backend

add support for custom labels and annotations
  oam/workloads/application.meshery.layer5.io.schema.json
Due: none

change annotations format
  models/pattern/resource/selector/selector.go
Due: backend

add name and namespace
  models/pattern/patterns/k8s/service/service.go
Due: backend

register service
  models/pattern/core/register.go
Due: backend

add advanced config for application
  models/pattern/patterns/application/application.go
Due: backend

merge custom labels and annotations
  models/pattern/patterns/application/argo.go
Due: backend

Added nginx-sm, app-mesh, tanzu-sm support in custom context creation
  meshery
Due: none

add support for inverted plans and add locks on internal data mutations
  handlers/oam_handler.go
  models/pattern/planner/planner.go
  models/pattern/stages/chain.go
  models/pattern/stages/persist.go
  models/pattern/stages/provision.go
  models/pattern/stages/service_identifier.go
  models/pattern/stages/svc_provider.go
Due: backend

Updated the md file
  MAINTAINERS.md
Due: none

refactored changes
  mesheryctl/internal/cli/root/system/testdata/token/delete.golden
  mesheryctl/internal/cli/root/system/testdata/token/list_err.golden
  mesheryctl/internal/cli/root/system/testdata/token/set_err.golden
  mesheryctl/internal/cli/root/system/token_test.go
Due: backend

Improved visuals of 'Setings'
  ui/components/DashboardComponent.js
Due: none

Removed ErrorList
  ui/components/MesheryMeshInterface/PatternService/RJSF.js
  ui/components/MesheryMeshInterface/PatternServiceForm.js
Due: none

fix: Remove test spec for dashboard icon since it is removed
  ui/cypress/integration/integration/indexui_spec.js
Due: front-end-integration-tests

[Docs] Release notes for v0.5.38 added
  docs/_releases/v0.5.38.md
Due: none

improve schema
  oam/workloads/application.meshery.layer5.io.schema.json
Due: none

improve support for cytoscape data
  models/pattern/core/pattern.go
Due: backend

fix panics
  handlers/oam_handler.go
Due: backend

fix: Meshery operator connection status updation
  ui/components/ConnectionWizard/Screens/MesheryOperatorScreen.js
Due: none

made changes to the performance calender
  ui/components/MesheryPerformance/Dashboard.js
Due: none

trying to get rid of the linting issue
  ui/components/MesheryPerformance/Dashboard.js
Due: none

chore: Add husky configuration
  ui/.husky/pre-commit
  ui/package.json
Due: none

fix: Problem with Fetching resources and Promise handling
  ui/lib/data-fetch.js
Due: none

fix issues with false pattern deployment error snackbar
  ui/components/MesheryPatterns.js
Due: none

Fix linting issues: unused vars
  ui/components/MesheryPatterns.js
Due: none

[Docs] Release Notes for Meshery
  docs/_releases/v0.5.43.md
Due: none

fix syntax error
  meshery
Due: none

Added the test for kubernetes platform
  mesheryctl/internal/cli/root/system/reset_test.go
  mesheryctl/internal/cli/root/system/testdata/reset/TestResetContexts.yaml
  mesheryctl/internal/cli/root/system/testdata/reset/reset_docker.output.golden
  mesheryctl/internal/cli/root/system/testdata/reset/reset_kubernetes.output.golden
Due: backend

Fixed mixing line
  docs/_releases/v0.5.38.md
Due: none

fix unit tests
  internal/store/store.go
  internal/store/store_test.go
  models/pattern/core/register.go
  provider-ui/package-lock.json
  ui/package-lock.json
Due: backend

fix golangci lint errors
  models/pattern/resource/selector/selector.go
  models/pattern/resource/selector/trait.go
  models/pattern/resource/selector/workload.go
  models/pattern/stages/filler.go
  models/pattern/stages/provision.go
Due: backend

Add 'c' flag into system view command
  mesheryctl/internal/cli/root/system/context/view.go
Due: backend

view test -all
  mesheryctl/internal/cli/root/app/fixtures/token.golden
  mesheryctl/internal/cli/root/app/fixtures/view.application.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.invalid.application.api.response.golden
  mesheryctl/internal/cli/root/app/fixtures/view.result.api.response.golden
  mesheryctl/internal/cli/root/app/testdata/no.token.golden
  mesheryctl/internal/cli/root/app/testdata/view.application.output.golden
  mesheryctl/internal/cli/root/app/testdata/view.invalid.application.output.golden
  mesheryctl/internal/cli/root/app/testdata/view.result.output.golden
  mesheryctl/internal/cli/root/app/view_test.go
Due: backend

minor update
  mesheryctl/internal/cli/root/app/testdata/view.application.output.golden
  mesheryctl/internal/cli/root/app/view_test.go
Due: backend

minor update
  mesheryctl/internal/cli/root/system/check.go
  mesheryctl/internal/cli/root/system/error.go
  mesheryctl/internal/cli/root/system/start.go
Due: backend

[Error Codes]: Update Meshery server and mehseryctl error codes and reference
  docs/_data/errorref/mesheryctl_errors_export.json
Due: none

Open Test Result Modal by Clicking Calendar Event
  ui/components/MesheryPerformance/PerformanceCalendar.js
Due: none
