Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "0...30"
  status:
    project:
      # These flags should match with those in the Github Action ci.yml
      front-end-integration-tests:
        flags:
          - integrationtests
      front-end-e2e-tests:
        flags:
          - e2etests
      backend:
        flags:
          - unittests

flags:
  # Filter the folders to be measured by that flag
  front-end-integration-tests:
    paths:
      - ui/cypress/integration/integration
    carryforward: true
  front-end-e2e-tests:
    paths:
      - ui/cypress/integration/e2e
    carryforward: true
  backend:
    paths:
      - cmd
      - handlers
      - helpers
      - internal
      - mesheryctl
      - meshes
      - models
      - router
    carryforward: true

fix: Auth token effect refinement
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/vm/proxy/proxy.go
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/05-10-2022-01-22-05_af657ee3.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-istio/05-10-2022-01-24-05_af657ee3.md
Due: none

Update Dockerfile
  install/docker-extension/Dockerfile
Due: none

app description; adapter update
  install/docker-extension/Dockerfile
  install/docker-extension/docker-compose.yaml
Due: none

screenshot
  install/docker-extension/docs/img/meshmap-docker-extension-for-meshery.png
Due: none

screenshot
  install/docker-extension/Dockerfile
Due: none

Allow connecting to multiple brokers
  internal/graphql/model/helpers.go
  internal/graphql/model/operator_helper.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
  ui/package-lock.json
Due: backend

minor changes
  internal/graphql/model/helpers.go
  internal/graphql/resolver/meshsync.go
  internal/graphql/resolver/operator.go
Due: backend

Update labeler.yml
  .github/labeler.yml
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-cilium/05-10-2022-12-32-05_.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-kuma/05-10-2022-12-59-05_a04c014a.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-kuma/05-10-2022-13-00-05_a04c014a.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-osm/05-10-2022-13-01-05_c10853fd.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-osm/05-10-2022-13-03-05_c10853fd.md
Due: none

Update meshkit
  go.mod
  go.sum
  internal/graphql/model/operator_helper.go
Due: backend

remove package-lock.json changes
  ui/package-lock.json
Due: none

responsiveness to DDE
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/ExtensionComponent/styledComponents.js
Due: none

oopsie fix
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
  install/docker-extension/ui/src/components/ExtensionComponent/styledComponents.js
Due: none

Remove BrokerURL from Handler configuration
  handlers/middlewares.go
  internal/graphql/resolver/meshsync.go
  models/handlers.go
Due: backend

Update docs/pages/project/FAQ.md
  docs/pages/project/FAQ.md
Due: none

[Docs] Test status of adapter
  docs/_compatibility/meshery-osm/05-11-2022-01-12-05_98394088.md
Due: none

misspelling
  docs/_adapters/cilium.md
Due: none

[Error Codes]: Update Meshery server and mehseryctl error codes and reference
  docs/_data/errorref/mesheryctl_errors_export.json
Due: none

display file name
  ui/components/MeshConfigComponent.js
Due: none

Added comments
  internal/graphql/model/helpers.go
  internal/graphql/resolver/meshsync.go
Due: backend

Changes in the make commands
  docs/pages/project/contributing/contributing-docs.md
  docs/pages/project/contributing/contributing-ui.md
Due: none

add feature for switching views btw node details and graph
  ui/components/MesheryChart.js
  ui/components/MesheryPerformance/PerformanceResults.js
Due: none

Filter on image orgs
  internal/graphql/model/control_plane_helper.go
  internal/graphql/model/helpers.go
Due: backend

remove redundant comment
  internal/graphql/model/control_plane_helper.go
Due: backend

fix: ws proxy issue
  install/docker-extension/ui/src/components/ExtensionComponent/ExtensionComponent.js
Due: none

test commit
  ui/cypress/integration/e2e/lifecyclecheck_spec.js
Due: front-end-e2e-tests

Fix: link to adapters in lifecycle not working
  ui/components/MesheryPlayComponent.js
  ui/components/Navigator.js
  ui/cypress/integration/e2e/lifecyclecheck_spec.js
Due: front-end-e2e-tests

remove unwanted changes
  install/Makefile.core.mk
Due: none

use multi cluster in graphql
  install/Makefile.core.mk
  internal/graphql/model/control_plane_helper.go
  internal/graphql/model/data_plane_helper.go
  internal/graphql/model/helpers.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/control-plane.go
  internal/graphql/resolver/data-plane.go
  internal/graphql/resolver/meshsync.go
Due: backend

conditional checking for unavailable adapter
  ui/cypress/integration/e2e/lifecyclecheck_spec.js
Due: front-end-e2e-tests

Update filter section
  docs/_data/mesheryctlcommands/cmds.yml
  docs/pages/reference/mesheryctl-commands.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter-apply.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter-delete.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter-list.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter-view.md
  docs/pages/reference/mesheryctl/mesheryctl-exp-filter.md
  mesheryctl/internal/cli/root/filter/apply.go
  mesheryctl/internal/cli/root/filter/delete.go
  mesheryctl/internal/cli/root/filter/filter.go
  mesheryctl/internal/cli/root/filter/list.go
  mesheryctl/internal/cli/root/filter/view.go
Due: backend
