Repository meshery/meshery: changes, and which Codecov flags are due for each by the changed paths.
All: front-end-integration-tests, front-end-e2e-tests, backend

codecov.yml:

codecov:
  require_ci_to_pass: yes

coverage:
  precision: 2
  round: down
  range: "0...30"
  status:
    project:
      # These flags should match with those in the Github Action ci.yml
      front-end-integration-tests:
        flags:
          - integrationtests
      front-end-e2e-tests:
        flags:
          - e2etests
      backend:
        flags:
          - unittests

flags:
  # Filter the folders to be measured by that flag
  front-end-integration-tests:
    paths:
      - ui/cypress/integration/integration
    carryforward: true
  front-end-e2e-tests:
    paths:
      - ui/cypress/integration/e2e
    carryforward: true
  backend:
    paths:
      - cmd
      - handlers
      - helpers
      - internal
      - mesheryctl
      - meshes
      - models
      - router
    carryforward: true

style -> sx
  ui/components/Header/Header.js
  ui/components/User.js
Due: none

Modal-close-bug-fix
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
Due: none

Fix: failing filter deploy e2e Tests
  ui/components/Filters.js
  ui/components/UploadImport.js
  ui/components/ViewSwitch.js
  ui/cypress/integration/e2e/service_mesh_configuration_management_spec.js
Due: front-end-e2e-tests

final commit: fix integeration test for filters
  ui/cypress/integration/integration/configuration_filters_spec.js
Due: front-end-integration-tests

remove wrong methodoly for closing modals
  ui/components/Filters.js
  ui/components/MesheryApplications.js
  ui/components/MesheryPatterns.js
  ui/components/UploadImport.js
Due: none

removed styles to sx
  ui/pages/index.js
Due: none

style -> sx
  ui/components/Header/Header.js
Due: none

Remove unnecessary code and add modal in filters
  ui/components/ConfirmationModal.js
  ui/components/Filters.js
Due: none

Update behaviour
  ui/components/Filters.js
  ui/components/MesheryApplications.js
Due: none

Kubsphere Doc Page
  docs/_data/toc.yml
  docs/assets/img/platforms/Meshery-app-running.png
  docs/assets/img/platforms/Meshery-info.png
  docs/assets/img/platforms/Meshery-install.png
  docs/assets/img/platforms/Meshery-service.png
  docs/assets/img/platforms/Meshery-yaml.png
  docs/assets/img/platforms/kubesphere.png
  docs/assets/img/platforms/meshery-app.png
  docs/assets/img/platforms/meshery-dashboard.png
  docs/pages/installation/kubesphere.md
  docs/pages/installation/platforms.md
Due: none

persistant tooltip
  ui/components/Navigator.js
Due: none

chore: Update meshkit release and kompose conversion logic
  go.mod
  go.sum
  handlers/meshery_application_handler.go
Due: backend

[Docs] Updated swagger docs for REST API
  docs/_data/swagger.yml
  helpers/swagger.yaml
Due: backend

fix: Merge Conflict issues
  cmd/main.go
Due: backend

feat: Create meshsync data handler
  cmd/main.go
  helpers/broker.go
  models/meshsync_events.go
Due: backend

fix: Lint issues
  models/meshsync_events.go
Due: backend

fix: Proper error codes to prevent server from panicking
  cmd/main.go
  internal/graphql/resolver/schema.resolvers.go
  models/error.go
Due: backend

refactor: Make the middlewares more explicit about what they do
  cmd/main.go
  handlers/error.go
  handlers/handler_instance.go
  handlers/k8sconfig_handler.go
  handlers/middlewares.go
  helpers/component_info.json
  helpers/kubernetes.go
  internal/graphql/resolver/schema.resolvers.go
  models/error.go
  models/handlers.go
  models/k8s_components_registration.go
  models/pattern/core/register.go
  models/providers.go
  models/remote_provider.go
  router/server.go
Due: backend

refactor: Move `meshsync_events` to helpers package
  cmd/main.go
  helpers/meshsync_events.go
Due: backend

fix: Add return statements and refine implementation
  cmd/main.go
  models/meshsync_events.go
Due: backend

fix: Fix a potential race condition
  models/meshsync_events.go
Due: backend

refactor: Use mutex to avoid data races
  models/meshery_controllers.go
  ui/components/graphql/subscriptions/MeshSyncEventsSubscription.js
  ui/components/graphql/subscriptions/__generated__/MeshSyncEventsSubscription.graphql.js
Due: backend

feat: MeshSync Events Subscription
  handlers/middlewares.go
  helpers/component_info.json
  internal/graphql/generated/generated.go
  internal/graphql/model/error.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/meshery_controllers.go
  models/meshsync_events.go
  models/providers.go
  ui/components/Header.js
  ui/components/graphql/subscriptions/MeshSyncEventsSubscription.js
Due: backend

refactor: Reimplement meshsync data handlers and controller handlers
  cmd/main.go
  go.mod
  handlers/handler_instance.go
  handlers/middlewares.go
  helpers/broker.go
  helpers/component_info.json
  internal/graphql/model/helpers.go
  internal/graphql/schema/schema.graphql
  models/error.go
  models/handlers.go
  models/meshery_controllers.go
  models/meshsync_events.go
  models/providers.go
  models/remote_provider.go
  notes.txt
  router/server.go
Due: backend

refactor: Reset some controller maps before initializing
  internal/graphql/resolver/schema.resolvers.go
  models/meshery_controllers.go
Due: backend

feat: New subscription for getting controllers status
  handlers/middlewares.go
  helpers/component_info.json
  internal/graphql/generated/generated.go
  internal/graphql/model/error.go
  internal/graphql/model/helpers.go
  internal/graphql/model/models_gen.go
  internal/graphql/resolver/meshery_controllers.go
  internal/graphql/resolver/schema.resolvers.go
  internal/graphql/schema/schema.graphql
  models/meshery_controllers.go
  router/server.go
  ui/components/Header.js
  ui/components/graphql/subscriptions/MesheryControllersStatusSubscription.js
  ui/components/graphql/subscriptions/__generated__/MesheryControllersStatusSubscription.graphql.js
Due: backend

chore: Update meshkit version
  go.mod
Due: none

[Error Codes]: Update Meshery server and mehseryctl error codes and reference
  docs/_data/errorref/meshery-server_errors_export.json
  helpers/component_info.json
Due: backend

[Docs] Updated swagger docs for REST API
  docs/_data/swagger.yml
Due: none

fix: gql is not picked up without talking to cloud
  handlers/extensions.go
Due: backend

Fixed broken link
  docs/pages/functionality/management.md
Due: none

Revert "Fixed broken link"
  docs/pages/functionality/management.md
Due: none

added docs to docker extensions w/signoff
  docs/assets/img/meshery/meshery-logo-light-text-side.svg
  docs/assets/img/platforms/docker-extensions-marketplace.png
  docs/pages/installation/docker-extension.md
Due: none

[Server] Lint Fix
  cmd/main.go
  handlers/k8sconfig_handler.go
  handlers/middlewares.go
  internal/graphql/resolver/schema.resolvers.go
  models/k8s_components_registration.go
  models/meshery_controllers.go
  models/remote_provider.go
Due: backend

Use custom types for context keys
  models/providers.go
Due: backend

Add version to component
  go.mod
  go.sum
  models/pattern/core/pattern.go
Due: backend

Load capabilities for valid token through middleware
  handlers/middlewares.go
  models/handlers.go
  models/remote_provider.go
  router/server.go
Due: backend
